In [20]:
from collections import defaultdict
import pandas as pd

results = pd.DataFrame(
    [[0, 2, 0, 1], [3, 0, 5, 0], [0, 3, 0, 1], [4, 0, 3, 0]],
    columns=list("ABCD"),
    index=list("ABCD"),
)
results

   A  B  C  D
A  0  2  0  1
B  3  0  5  0
C  0  3  0  1
D  4  0  3  0

In [25]:
results["A"]["B"]

3

In [22]:
# Access wins of i over j
w = lambda i, j: results[j][i]
w("A", "B")

2

In [23]:
p_i = [1, 1, 1, 1]
EPOCHS = 5

from math import prod


for e in range(EPOCHS):
    for i, iL in enumerate("ABCD"):
        _num = 0
        _den = 0
        for j, jL in enumerate("ABCD"):
            if i == j:
                continue

            _num += w(iL, jL) * p_i[j] / (p_i[i] + p_i[j])
            _den += w(jL, iL) / (p_i[i] + p_i[j])
        p_i[i] = _num / _den
        _m_g = prod(p_i) ** (0.25)
        p_i = [x / _m_g for x in p_i]
    print([f"{x:.3f}" for x in p_i])

['0.516', '1.413', '0.672', '2.041']
['0.677', '1.034', '0.624', '2.287']
['0.650', '1.026', '0.656', '2.285']
['0.639', '1.042', '0.661', '2.271']
['0.639', '1.044', '0.660', '2.270']

In [ ]:
p_i = [1200, 1200, 1200, 1200]
EPOCHS = 5

from math import prod

print(p_i)
for e in range(EPOCHS):
    for i, iL in enumerate("ABCD"):
        _num = 0
        _den = 0
        for j, jL in enumerate("ABCD"):
            if i == j:
                continue
            _num += w(iL, jL) * p_i[j] / (p_i[i] + p_i[j])
            _den += w(jL, iL) / (p_i[i] + p_i[j])
        p_i[i] = _num / _den
        _m_g = prod(p_i) ** (0.25)
        p_i = [x / _m_g for x in p_i]
    print([f"{x:.2f}" for x in p_i])

[1200, 1200, 1200, 1200]
['0.52', '1.41', '0.67', '2.04']
['0.68', '1.03', '0.62', '2.29']
['0.65', '1.03', '0.66', '2.28']
['0.64', '1.04', '0.66', '2.27']
['0.64', '1.04', '0.66', '2.27']